<!-- {% load static %}
{% include "student/header.html" %}


<div class="container-fluid">

<div class="container">

<section class="add_form">

  <div class="heading">

      <h1>Add Tecaher Details</h1>   
      </div>
      <p>{{msg}}</p>
  <form action="/add/"  method="post">
      {% csrf_token %} -->
    <!-- First Name  -->

    <!-- <div class="form-group form-outline mb-4">
          <label for="usr">First Name:</label>
          <input type="text" class="form-control" id="usr" name="first_name">
        </div> -->


      <!-- Last Name  -->  

      <!-- <div class="form-group form-outline mb-4">
          <label for="usr">Last Name:</label>
          <input type="text" class="form-control" id="usr" name="last_name">
        </div> -->

      <!-- Email  -->

      <!-- <div class="form-group form-outline mb-4">
          <label class="form-label" for="form1Example1">Email address</label>
          <input type="email" id="form1Example1" class="form-control" name="email"/>
          
        </div> -->

      <!-- User Name  -->  

      <!-- <div class="form-group form-outline mb-4">
          <label for="usr">User Name :</label>
          <input type="text" class="form-control" id="usr" name="user_name">
        </div> -->

      <!-- Password  -->  

      <!-- <div class="form-group form-outline mb-4">
          <label for="usr">Password :</label>
          <input type="text" class="form-control" id="usr" name="password">
        </div> -->

      <!-- _teacher_phone_number  -->  

      <!-- <div class="form-group form-outline mb-4">
          <label for="usr">Phone Number :</label>
          <input type="text" class="form-control" id="usr" name="t_number">
        </div> -->

      

      <!-- Teachear_Address -->  

      <!-- <div class="form-group form-outline mb-4">
          <label for="usr">Address :</label>
          <input type="text" class="form-control" id="usr" name="t_address">
        </div>  -->


      <!-- <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>

</section>
</div>    
</div>

<style>
section.add_form {
  margin: 50px auto;
}
section.add_form {
  margin: 80px auto;
  width: 60%;
  box-shadow: 0 0 20px 1px #483d8bab;
  padding: 20px 20px;
}
section.add_form form {
  margin-bottom: 30px;
}

</style> -->